@import "tailwindcss";

/*
. {
  primary: #9fa1ff;
  secondary: #b5baff;
  tertiary: #aee2ff;
  quadiary: #d9f9df;
}

*/
/* card */
/* border-2 border-black shadow-[6px_6px_0px_#000] bg-white */

/* button */
/* border-2 border-black shadow-[4px_4px_0px_#000] active:translate-x-[2px] active:translate-y-[2px] */

/* input */
/* border-2 border-black shadow-[3px_3px_0px_#000] */

.feed-scroll::-webkit-scrollbar {
  width: 8px;
}

.feed-scroll::-webkit-scrollbar-track {
  background: #27272a;
  border: 2px solid black;
}

.feed-scroll::-webkit-scrollbar-thumb {
  background: #8b5cf6;
  border: 2px solid black;
  /* box-shadow: inset -2px -2px 0 rgba(0, 0, 0, 0.3); */
}

.feed-scroll::-webkit-scrollbar-thumb:hover {
  background: #7c3aed;
}

.user-profile-scroll::-webkit-scrollbar {
  width: 8px;
}

.user-profile-scroll::-webkit-scrollbar-track {
  background: #27272a;
  border: 2px solid black;
}

.user-profile-scroll::-webkit-scrollbar-thumb {
  background: #8b5cf6;
  border: 2px solid black;
  /* box-shadow: inset -2px -2px 0 rgba(0, 0, 0, 0.3); */
}

.user-profile-scroll::-webkit-scrollbar-thumb:hover {
  background: #7c3aed;
}

@layer components {
  .neo-card {
    @apply bg-white border-2 border-black shadow-[6px_6px_0px_#000] p-4;
  }

  .neo-button {
    @apply border-2 border-black font-bold px-4 py-2 shadow-[4px_4px_0px_#000]
           active:translate-x-[2px] active:translate-y-[2px];
  }

  .neo-container {
    @apply w-full p-2 shadow-[3px_3px_0px_#000];
  }

  .neo-video {
    width: 100%;
    display: block;
    border: 4px solid #000;
    border-radius: 12px;
    background: #fff;
    box-shadow: 8px 8px 0 #000;
    transition:
      transform 0.2s ease,
      box-shadow 0.2s ease;
  }

  .neo-input {
    @apply w-full border-2 border-black p-2 shadow-[3px_3px_0px_#000] outline-none;
  }

  .neo-input:focus {
    transform: translate(3px, 3px);
    box-shadow: 0px 0px 0px #000;
  }

  .neo-label {
    @apply font-bold text-black mb-1 block;
  }

  .neo-file {
    @apply border-2 border-black  p-2 flex items-center gap-2 shadow-[4px_4px_0px_#000];
  }

  .neo-file-display {
    @apply border-2 border-black px-2 py-1 text-sm shadow-[2px_2px_0px_#000];
  }

  .neo-file-btn {
    @apply border-2 border-black px-3 py-1 font-bold cursor-pointer
           shadow-[3px_3px_0px_#000]
           active:translate-x-[2px] active:translate-y-[2px];
  }

  .Toastify__toast {
    border: 3px solid black;
    border-radius: 0;
    box-shadow: 6px 6px 0 black;
    font-weight: 700;
    background: #b5baff;
    color: black;
  }

  .Toastify__toast--success {
    background: #a7f3d0;
  }

  .Toastify__toast--error {
    background: #fca5a5;
  }

  .Toastify__toast--warning {
    background: #fde68a;
  }

  .Toastify__progress-bar {
    background: black;
  }

  .neo-error {
    @apply bg-[#ff1e00] text-white border-1 border-black text-xs
           p-1 font-semibold shadow-[4px_4px_0px_#000]
           flex items-center gap-2  transition-all duration-300 ease-in-out;
  }

  .neo-error-animate {
    animation: errorPop 0.25s ease-out;
  }

  .neo-player {
    width: 100%;
    background: #fff;
    border: 4px solid #000;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 8px 8px 0 #000;
  }

  .video-wrapper {
    position: relative;
    background: black;
  }

  .video-wrapper video {
    width: 100%;
    display: block;
  }

  .loader {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.45);
  }

  .controls {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 12px;
    background: #ffe96a;
    border-top: 4px solid black;
    flex-wrap: wrap;
  }

  .controls button {
    border: 3px solid black;
    background: white;
    font-weight: bold;
    padding: 8px 14px;
    cursor: pointer;
    box-shadow: 4px 4px 0 black;
    transition: 0.15s;
  }

  .controls button:hover {
    transform: translate(-2px, -2px);
    box-shadow: 6px 6px 0 black;
  }

  .controls button:active {
    transform: translate(2px, 2px);
    box-shadow: 2px 2px 0 black;
  }

  .controls input[type="range"] {
    cursor: pointer;
  }

  .controls input:first-of-type {
    flex: 1;
  }

  @keyframes errorPop {
    0% {
      opacity: 0;
      transform: translateY(-6px) scale(0.98);
    }
    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }
}

@layer utilities {
  /* Background colors */
  .bg-primary {
    background-color: #9fa1ff;
  }

  .bg-secondary {
    background-color: #cccdff;
  }

  .bg-accent-1 {
    background-color: #aee2ff;
  }

  .bg-accent-2 {
    background-color: #d9f9df;
  }

  .bg-button-1 {
    background-color: #eaff00;
  }

  .hover-bg-button-1:hover {
    background-color: #ffe2e2;
  }

  .bg-button-2 {
    background-color: #ffe2e2;
  }

  .hover-bg-button-2:hover {
    background-color: #eaff00;
  }

  .bg-warning {
    background-color: #ff1e00;
  }

  /* Text colors */
  .text-primary {
    color: #9fa1ff;
  }

  .text-secondary {
    color: #cccdff;
  }

  .text-accent-1 {
    color: #aee2ff;
  }

  .text-accent-2 {
    color: #d9f9df;
  }

  .text-button-1 {
    color: black;
  }

  .text-button-2 {
    color: white;
  }

  .text-warning {
    color: #ff1e00;
  }

  /* Border colors */
  .border-primary {
    border-color: #9fa1ff;
  }

  .border-secondary {
    border-color: #cccdff;
  }

  .border-accent-1 {
    border-color: #aee2ff;
  }

  .border-accent-2 {
    border-color: #d9f9df;
  }

  .border-button-1 {
    border-color: black;
  }

  .border-button-2 {
    border-color: white;
  }

  .border-warning {
    border-color: #ff1e00;
  }
}
